<div class="ui-g">
  <div class="ui-g-8">
    <p-panel header="Wather map">
      <p-gmap [options]="options" (onMapClick)="handleMapClick($event)" [style]="{'width':'100%','height':'400px'}"></p-gmap>
    </p-panel>
  </div>

  <div class="ui-g-4">
    <p-panel header="Map data">
      <div class="ui-row">
        <p-fieldset legend="Data">
          <table>
            <tr>
              <th>Place</th>
              <td>{{weather?.name}}</td>
            </tr>
          </table>
        </p-fieldset>
      </div>

      <div class="ui-row">
        <p-fieldset legend="Chart" [toggleable]="true" [collapsed]="chartFieldsetCollapse">
          <p-dropdown [options]="periods" (ngModel)="selectedPeriod"></p-dropdown>

          <p-chart type="line" [data]="chartData"></p-chart>
        </p-fieldset>
      </div>

      <div class="ui-row">
        <p-fieldset legend="Response" [toggleable]="true" [collapsed]="responseFieldsetCollapse">
          <pre>{{weather | json}}</pre>
        </p-fieldset>
      </div>
    </p-panel>
  </div>
</div>